<h1>Edit Song</h1>
<form action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Edit Song Name: </label>
  <input type="text" id="Name" name="song[name]" value="<%= @song.name %>"><br>

  <label>Edit Artist Name: </label>
  <input type="text" id="Artist Name" name="artist[name]" value="<%= @song.artist.name %>">
  <br>

  <label>Edit Genre (Select all that apply): </label><br>
  <% @genres.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="song[genre_ids][]" value="<%= genre.id %>" <%= "checked" if @song.genres.include?(genre) %>><%= genre.name.capitalize %></input><br>
  <% end %>

  <br><br>
  <input type="submit" value="Save Changes">
</form>
