<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Song: <%= @song.name %></h2>
<h2>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a></h2>
<h2>Genres:</h2>
<ul>
  <% @song.genres.each do |g| %>
  <li><a href="/genres/<%= g.slug %>"><%= g.name %></a></li>
  <% end %>
</ul>

<br><br>
<p><a href="/songs/<%= @song.slug %>/edit">Edit this Song</a></p>
